/* grandMediaAfflux CSS */
.gmProgress { overflow:hidden; height:20px; position: relative; text-align: center; line-height: 20px; color: #222222; font-size: 12px;
	background-color:#f7f7f7;
	background-image:-moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-webkit-gradient(linear,0 0,0 100%,from( #f5f5f5),to( #f9f9f9));
	background-image:-webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	border-radius:4px;
}
.gmProgress .gmCounter { position: relative; z-index: 1; }
.gmProgress .gmBar { position: absolute; left: 0; top: 0; display: block; width:0; height:100%; z-index: 0;
	background-color:#5eb95e;
	background-image:-moz-linear-gradient(top, #62c462, #57a957);
	background-image:-webkit-gradient(linear,0 0,0 100%,from( #62c462),to( #57a957));
	background-image:-webkit-linear-gradient(top, #62c462, #57a957);
	background-image:-o-linear-gradient(top, #62c462, #57a957);
	background-image:linear-gradient(to bottom, #62c462, #57a957);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-sizing:border-box;
	border-radius:4px;
}

.grandMediaAfflux_alternative { overflow: hidden; position: relative; max-width: 100%; }
div.grandMediaAfflux_catLinks { width: 100%; white-space: nowrap; overflow-x: scroll; position: relative; top: 0; left: 0; z-index: 1; padding: 0; margin: 0; float: none; }
div.grandMediaAfflux_catLinks a.gm_tab { margin: 0 5px; padding: 0 5px; display: inline-block; height: 36px; line-height: 36px; border: none; text-decoration: none; font-size: 13px; font-weight: bold; }
div.grandMediaAfflux_catLinks a:first-child { margin-left: 12px; }
div.grandMediaAfflux_catLinks a:last-child { margin-right: 12px; }
.grandMediaAfflux_imgContainer { position: absolute; left: 0; top: 36px; bottom: 0; right: 0; overflow: hidden; overflow-x: scroll; white-space: nowrap; z-index: 2; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }
div.grandMediaAfflux_imgContainer:nth-of-type(n+2) { display: none; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img { display: inline-block; position: relative; white-space: normal; height: 100%; width: 100%; vertical-align: top; text-align: center; overflow: hidden; background: url('../img/loader.gif') 50% 50% no-repeat; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img:first-child { margin-left: 20px; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img:last-child { margin-right: 20px; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img img { max-width: 100%; max-height: 100%; height: 100%; display: inline; margin: 0 auto; border: none; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img .grandMediaAfflux_imgDescr { position: absolute; left: 0; bottom: 100%; right: 0; z-index: 2; padding: 10px; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, .7); color: #ffffff; text-align: left; overflow: hidden; overflow-y: auto; max-height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img .grandMediaAfflux_imgDescr span.gm_title { display: block; font-weight: bold; margin-bottom: 5px; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img .grandMediaAfflux_imgDescr a { color: lightgreen; }
.grandMediaAfflux_imgContainer .grandMediaAfflux_img .gm_close {
	position: absolute; right: 0; top: 0;
	padding: 2px 2px 12px 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 12px;
	color: red;
	text-shadow: 0 1px 0 #000000;
	text-decoration: none;
	display: none;
	z-index: 3;
}
.grandMediaAfflux_imgContainer .grandMediaAfflux_img.gm_info .gm_close { display: block; }
.no-touch .grandMediaAfflux_imgContainer .grandMediaAfflux_img .gm_close {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.no-touch .grandMediaAfflux_imgContainer .grandMediaAfflux_img .gm_close:hover {
	text-decoration: none;
	opacity: 1.0;
	filter: alpha(opacity=100);
	cursor: pointer;
	color: red;
}

.main {resize: both; overflow: auto; }