html {
    background: #708090;
}

#adminmenu #toplevel_page_GrandMedia ul.wp-submenu {
    display: none;
}

#wpfooter {
    color: #ffffff;
}

#wpfooter a {
    color: lightblue;
}

#TB_caption {
    height: auto;
}

a {
    color: #0074a2;
}

input[type="checkbox"] {
    margin-top: 2px;
    margin-right: 2px
}
input[type="checkbox"], input[type="radio"] {
	height: 16px;
	width: 16px;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -2px;
    margin-bottom: -2px;
}

form {
    margin: 0;
}
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }

body.gmedia-busy {
    cursor: wait !important;
}

iframe, iframe html {
    background-color: #ffffff;
}

body.gmedia-blank {
    background-color: #ffffff;
    height: auto;
    min-height: 100%;
    padding: 0 0 1px;
    box-sizing: border-box;
}

body.gmedia-blank pre {
    margin: 0;
    padding: 0;
    border: none;
}

.gmedia-body div#gm-message {
    position: absolute;
    right: 5px;
    top: 5px;
    overflow: visible;
    z-index: 200;
}

.gmedia-body div#gm-message .gm-message {
    text-align: right;
}

div#gmedia-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 30px 5px 10px 0;
    position: relative;
    z-index: 1;
    direction: ltr;
    min-width:560px;
}

div#gmedia-header {
    position: relative;
    padding: 1px 1px 10px 1px;
}

/*noinspection CssInvalidElement*/
div#gmedia-logo {
    position: relative;
    margin: 0 30px 0 15px;
    font-size: 48px;
    text-shadow: 1px 1px 4px #000000;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    color: #ffffff;
    float: left;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

div#gmedia-logo small {
    display: block;
    font-size: 10px;
    margin-top: 7px;
    text-align: right;
    -webkit-text-stroke-width: 0;
}

div#gmedia-header h2 {
    margin: 0;
    font: italic 24px/35px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    color: #ffffff;
}

div#gmedia-navbar {
    font-size: 14px;
}

div.custom-message {
    position: absolute;
    right: 15px;
    top: -35px;
    padding: 5px 10px;
    margin: 0
}

form.gmedia-search-form {
    float: right;
    margin-left: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
}

form.gmedia-search-form .form-group {
    margin: 0;
    display: inline-block;
    vertical-align:middle;
}

.gmedia-pager {
    margin-bottom: 4px;
}

form#gmedia-pager {
    float: left;
    width: 150px;
}

input.pager_current_page {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.txt-lg {
    font-size: 120%;
    line-height: 50%;
}

a.text-danger {
    color: #a94442;
}

.btn > input[type="checkbox"] {
    margin-top: 0;
    width: 16px;
    height: 16px;
}

.va-middle {vertical-align:middle}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #e8e8e8;
}

.gm-checkgroup {
    margin-right: 20px;
}

.gm-backfade {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu > .disabled {
    cursor: not-allowed;
}

.dropdown-menu > .disabled > a {
    pointer-events: none;
}

div#gm-list-table {
    font-size: 13px;
}

.list-group-item.row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item.d-row {
    position: relative;
    color: inherit;
}

.no-touch div.list-group-item.d-row:hover {
    background-color: #fafafa;
}

.no-touch form.list-group-item.d-row:hover {
    background-color: #fcfcfc;
}

.list-group-item.d-row.active-row {
    color: #444;
    border-color: #ddd;
    background-color: rgb(250, 255, 245);
    box-shadow: inset -1px 0 0 2px rgb(250, 255, 245), inset 7px 0 0 0 #1e8cbe;
}

.no-touch .list-group-item.d-row.active-row:hover {
    color: #444;
    border-color: #ddd;
    background-color: rgb(245, 255, 240);
    box-shadow: inset -1px 0 0 2px rgb(245, 255, 240), inset 7px 0 0 0 #1e8cbe;
}

div#gmedia-container .list-group-item-info,
div#gmedia-container .list-group-item-info:hover {
    background-color: #d9edf7 !important;
}

div#gmedia-container .list-group-item-warning,
div#gmedia-container .list-group-item-warning:hover {
    background-color: #fcf8e3 !important;
}

.bg-status-private {
    background-color: #d9edf7;
    box-shadow: 3px 0 0 5px #d9edf7, -2px 0 0 5px #6fbfff;
}

.bg-status-draft {
    background-color: #fcf8e3;
    box-shadow: 3px 0 0 5px #fcf8e3, -2px 0 0 5px #ffd87c;
}

label.cb_media-object-gallery {
    margin-right: 15px;
    float: left;
    width: 135px;
    max-width: 100%;
}

.d-row .thumbnail {
    margin-bottom: 0;
}

.active-row .thumbnail {
    border-color: #428bca;
}

.thumbnail {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.thumbnail .gmedia-typethumb {
    position: absolute;
    right: 5px;
    bottom: 7px;
    height: 75px;
    max-height: 60%;
    width: auto;
}

.media-title {
    font-weight: bold;
}

.media-caption:empty { display:none; }
.media-caption.in-library {
    max-height:215px;
}
.media-caption {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:5px 7px;
    margin:0 -6px 5px;
    overflow:auto;
    word-break: normal;
    word-wrap: break-word;
}
.media-body .media-caption {
    margin:0;
}

.media-meta {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /*white-space:nowrap;*/
}

.media-meta .label-default {
    background-color: #eeeeee;
    color: #444444;
}

.gmedia_id {
    position: absolute;
    right: 10px;
    top: 10px;
}

.no-touch .gmedia_id,
.no-touch .term_id {
    display: none;
}

.term_id {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 10px 0 0;
    background-color: #fff;
    display: none;
    height: 100%;
    box-shadow: -10px 0 5px -2px #fff;
    z-index: 1000;
}

.term-list-item.active-row .term_id {
    display: block;
}

.no-touch #gm-list-table .list-group-item:hover .gmedia_id,
.no-touch #gm-list-table .list-group-item:hover .term_id {
    display: block;
}

#gm-list-table .hidden {
    display: none !important;
    visibility: hidden !important;
}

form#adv-settings .form-inline .form-group {
    margin-right: 20px;
}

form.changed {
}

form.changed.saved {
}

form.changed .gm-last-edited {
    text-decoration: line-through;
}

.selectize-input.full input {
    width: 4px !important;
}
.rel-selected-hide {
    display: none;
}

.plupload_wrapper {
    min-width:unset;
}
div#pluploadUploader {
    padding: 0;
}

div#pluploadUploader * {
    box-sizing: border-box;
}

div#pluploadUploader > div > div * {
    box-sizing: content-box;
}

.plupload_container {
    padding: 0;
}

div#pluploadUploader_container {
    min-height: 450px;
    border-bottom-right-radius: 4px;
}

div#pluploadUploader_container .plupload_filelist_footer {
    border-bottom-right-radius: 4px;
}

div.panel-body, div#gmedia-msg-panel {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

div.panel-body:empty, div#gmedia-msg-panel:empty {
    padding: 0;
}

div#gmedia-msg-panel .alert {
    padding: 2px 35px 2px 12px;
    margin-bottom: 5px;
}

.plupload_content li {
    margin-bottom: 0;
}

.progress {
    position: relative;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
}

.progress-bar {
    position: absolute;
    overflow: hidden;
}

.tab-inside {
    padding: 10px;
    position: relative;
}

.tab-footer {
    border-top: 1px solid #ddd;
    padding: 20px 10px 0;
}

.selectize-control.input-sm .selectize-input {
    min-height: 30px;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 1.9;
    border-radius: 3px;
}
.selectize-control.multi .selectize-input.has-items {
	padding-top: 2px;
}

.selectize-control.input-sm .selectize-input input {
    font-size: 12px;
}

.selectize-control.input-sm .selectize-input:after {
    right: 10px;
}
.selectize-control.input-sm .selectize-input > div {
	line-height: 146%;
}

.term-list-item {
    padding-top: 0;
    padding-bottom: 0;
}
#gmedia-container .cb_term-object { min-height:70px; }
.object-actions { text-align:right; font-size:16px;}
.object-actions.gallery-object-actions { text-align:left; margin-bottom:5px;}
.object-actions > * { margin:0 0 0 10px; vertical-align:middle; display:inline-block; }
a.trash-icon:hover {color:#843534;}
.action-inactive {color:#b8b8b8;}
.term-list-item .term-label .checkbox {
    padding-left: 35px;
}

.term-list-item .term-label .checkbox > input {
    margin-left: -35px;
}

.term-list-item .checkbox input {
    margin-top: 0;
    margin-right: 15px;
}

.term-list-item .term-description {
    padding: 1px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    color: #444444;
}

.term-list-item .term-description:empty {
    padding: 0;
}

.term-list-item .term-images {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.term-list-item .term-images img {
    position: relative;
    height: 60px;
    width: auto;
    background-color: #ffffff;
}

.term-list-item .term_name {
    margin-right:10px;
}
.term-list-item .term_info_author {
    font-size: 80%;
    white-space:nowrap;
    color:#444;
}

.no-touch .term-list-item .term-images img:hover {
    z-index: 100 !important;
}

.edit_tag_form {
    display: inline-block;
    margin-left: -5px;
    margin-bottom: -1px;
    margin-top: -1px;
}

.edit_tag_form input.edit_tag_input {
    padding: 0 5px;
    border-width: 0 0 1px 0;
    margin: 0;
}

a.edit_tag_save.btn {
    padding-top: 0;
    padding-bottom: 0;
}

.no-touch a.edit_tag_save.btn-link:hover {
    text-decoration: none;
}

.gm-img-thumbnail {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 5px;
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.gm-img-thumbnail input {
    display: block;
    line-height: 120%;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 42px;
    padding: 0 2px;
    text-align: center;
    border-radius: 4px;
    opacity: 0.9;
}

.gm-img-thumbnail input:focus {
    opacity: 1;
}

.gm-img-thumbnail .label {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: normal;
    line-height: 120%;
    pointer-events: none;
}
.gm-img-thumbnail .gm-img-thumb-title {
    position: absolute;
    left: 0;
    top: 100%;
	font-size:90%;
    line-height: 120%;
	width:100%;
	padding:3px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
}
.gm-img-thumbnail.ui-sortable-helper .gm-img-thumb-title {
	visibility:hidden;
}

.ui-highlight-placeholder {
    border: 1px solid #0074a2;
}

.termItems {
    position: relative;
}

.termItems .gm-img-thumbnail {
    width: 160px;
    height: 120px;
    text-align: center;
    line-height: 107px;
}

.termItems .gm-img-thumbnail img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.choose-module {
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}

.no-touch .choose-module:hover {
    background-color: #d0e9c6;
}

.choose-module .thumbnail {
    margin-bottom: 0;
}

.media {
    overflow: hidden;
}

.media > .thumbnail.pull-left {
    padding: 4px;
    margin-right: 10px
}

.presetlist a {
    position: relative;
    padding-right: 30px;
}

.delpreset {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.8em 7px 0;
    line-height: 100%;
}

.delpreset span {
    line-height: 100%;
    font-size: 94%;
    padding: 0 5px 2px;
    cursor: pointer;
}

body#media-upload {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

body#media-upload .panel {
    position: relative;
    height: 100%;
    overflow: auto;
    margin: 0;
    border-radius: 0;
    border-top: none;
}

body#media-upload .panel-heaading {
    position: relative;
    z-index: 100;
}

body#media-upload .panel-body {
    position: absolute;
    top: 55px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 50;
    padding-top: 0;
    padding-bottom: 0;
}

body#media-upload .panel-body > .row {
    height: 100%;
}

body#media-upload .panel-body > .row > div {
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

body#media-upload .panel-body .list-group-item {
    border-width: 0;
    border-top-width: 1px;
    margin: 0;
}

body#media-upload .panel-body .list-group-item:first-child {
    border-width: 0;
}

body#media-upload .term-list-item .term-images img {
    height: 30px;
}

body#media-upload .term-list-item .term-label .no-checkbox {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

body#media-upload .term-list-item .term-info {
    display: none;
}

.blank-aligner {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 1px;
    overflow: hidden;
    margin-right: -2em;
}

body#media-upload .media-upload-sidebar {
    border-left: 1px solid #cccccc;
    background-color: #eeeeee;
    padding: 0 !important;
    position: relative;
}

body#media-upload .media-upload-sidebar form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body#media-upload .media-upload-sidebar .media-upload-form-container {
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    overflow: auto;
    padding: 15px;
}

body#media-upload .media-upload-sidebar .panel-footer {
    min-height: 57px;
}

body#media-upload .thumbnail {
    margin: 0 5px 5px 0;
    position: relative;
    display: inline-block;
}

body#media-upload .thumbnail.active {
    background-color: lightblue;
    border-color: cadetblue;
}

body#media-upload .thumbnail .glyphicon {
    display: none;
    position: absolute;
    right: -3px;
    top: -7px;
    font-size: 30px;
}

body#media-upload .thumbnail.active .glyphicon {
    display: inline-block;
}

body#media-upload .plupload_wrapper {
    height: 100%;
    box-sizing: border-box;
}

.addtags-gap { height: 200px; }

body#media-upload div#pluploadUploader .plupload_container {
    height: 100%;
    min-height: inherit !important;
}

body#media-upload .ui-resizable-handle {
    display: none !important;
    bottom: -1px;
}

#gmedia-post-thumbnail {
    font-size: 12px;
    padding: 0;
    display: inline;
    white-space: normal;
}

body.gmedia-blank.image_editor {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0
}

body.gmedia-blank.image_editor .panel {
    position: relative;
    height: 100%;
    overflow: auto;
    margin: 0;
}

body.gmedia-blank .panel-heaading {
    position: relative;
    z-index: 100;
}

body.gmedia-blank.image_editor .panel-body {
    position: absolute;
    top: 55px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 50;
    padding-top: 0;
    padding-bottom: 0;
}

body.gmedia-blank.image_editor .panel-body .row {
    height: 100%;
}

body.gmedia-blank.image_editor .panel-body .row > div {
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

body.gmedia-blank .media-edit-sidebar {
    border-left: 1px solid #cccccc;
    background-color: #eeeeee;
    padding: 0 0 55px 0 !important;
    position: relative;
}

body.gmedia-blank #media-edit-form-container {
    height: 100%;
    overflow: auto;
    padding: 15px;
}

body.gmedia-blank .media-edit-sidebar .panel-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

#gallery_preview_ {
    width: 200%;
    height: 800px;
    margin-bottom: -400px;
    overflow: auto;
    -moz-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    border: solid #ccc 2px;
}

#gallery_preview {
    width: 100%;
    height: 600px;
    border: solid #ccc 1px;
    overflow: auto;
}

#adv-settings {
    overflow: hidden;
}

#screen-meta .form-group {
    padding-bottom: 10px;
}

#previewModal {
    z-index:9999;
    overflow-x:auto;
}

input.sharelink[readonly] {cursor:text;}

fieldset.gmediacustomstuff {margin:0 0 10px; padding:.35em .625em .4em; position: relative; border:1px solid silver}
.delete-custom-field {margin:4px 2px 0; cursor:pointer;}
.newcustomfield-modal { position: absolute; bottom: -0.6em; right: 8px;font-size: 95%; }

@media (min-width: 782px) {
    div.modal {
        top: 32px;
    }

    div#termsModal .modal-dialog {
        width: 350px;
    }

}

@media (max-width: 782px) {
    div#wpwrap {
        background: #708090;
    }

    div#wpbody select.input-sm {
        height: 30px;
        font-size: 12px;
    }

    #adminmenu #toplevel_page_GrandMedia ul.wp-submenu {
        display: block;
    }

    .media-body {display:block;}

}
@media (max-width: 991px) {
    body#media-upload .panel-body > #gmUpload.row {
        overflow-y:auto;
    }

    body#media-upload .panel-body > #gmUpload.row > div {
        height: auto;
    }
    body#media-upload .plupload_wrapper {
        height: auto;
    }

    body#media-upload div#pluploadUploader .plupload_container {
        height: auto;
        min-height: 300px !important;
    }
}

/* custom inclusion of right, left tabs */

.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.no-touch .tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.no-touch .tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.no-touch .tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.no-touch .tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}
