#wpwrap {
	background: #abb1bc url(../images/bg.png) 0 0 repeat-x;
}

#adminmenu #toplevel_page_GrandMedia ul.wp-submenu {display: none;}
#adminmenu #toplevel_page_GrandMedia .wp-menu-image img {opacity:.9;filter:alpha(opacity=90)}
#adminmenu #toplevel_page_GrandMedia .wp-not-current-submenu .wp-menu-arrow div {
	border: none;
}

div#wpcontent div#adminmenu li.wp-menu-separator {
	background-position: 0 -2px;
	height: 7px;
	overflow: hidden;
	margin: 7px 0;
	border: 0 hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.folded div#wpcontent #adminmenu li.wp-menu-separator {
	background-position: 100% -41px;
}

div#adminmenuback {
	z-index: 10;
}

div#adminmenuwrap {
	z-index: 15;
}

body.branch-3-2 div#wphead,
body.branch-3-3 div#wphead {
	background-color: #fff;
	border-bottom-color: #183151;
	margin: 0 0 0 -20px;
	padding: 0 20px 0 22px;
}

body.branch-3-2 div#footer,
body.branch-3-3 div#footer {
	background-color: #fff;
	border-bottom-color: #183151;
	margin: 0 0 0 145px;
	padding-right: 20px;
	padding-left: 20px;
}

body.branch-3-2.js.folded div#footer,
body.branch-3-3.js.folded div#footer {
	margin: 0 0 0 32px;
	padding-right: 20px;
	padding-left: 20px;
}

body.branch-3-2 div#contextual-help-wrap,
body.branch-3-2 div#screen-options-wrap,
body.branch-3-3 div#contextual-help-wrap,
body.branch-3-3 div#screen-options-wrap {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#screen-meta-links {
	position: relative;
	z-index: 2;
}

.wp-core-ui .button-green {
	background-color: #219B24;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#29C52E), to(#219B24));
	background-image: -webkit-linear-gradient(top, #29C52E, #219B24);
	background-image:    -moz-linear-gradient(top, #29C52E, #219B24);
	background-image:     -ms-linear-gradient(top, #29C52E, #219B24);
	background-image:      -o-linear-gradient(top, #29C52E, #219B24);
	background-image:   linear-gradient(to bottom, #29C52E, #219B24);
	border-color: #219B24;
	border-bottom-color: #1F8D21;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-green.hover,
.wp-core-ui .button-green:hover,
.wp-core-ui .button-green.focus,
.wp-core-ui .button-green:focus {
	background-color: #26B729;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2ED230), to(#219B24));
	background-image: -webkit-linear-gradient(top, #2ED230, #219B24);
	background-image:    -moz-linear-gradient(top, #2ED230, #219B24);
	background-image:     -ms-linear-gradient(top, #2ED230, #219B24);
	background-image:      -o-linear-gradient(top, #2ED230, #219B24);
	background-image:   linear-gradient(to bottom, #2ED230, #219B24);
	border-color: #1C7F1F;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-green.focus,
.wp-core-ui .button-green:focus {
	border-color: #0F500E;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .button-green.active,
.wp-core-ui .button-green.active:hover,
.wp-core-ui .button-green.active:focus,
.wp-core-ui .button-green:active {
	background: #1C7F1F;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#219B24), to(#26B729));
	background-image: -webkit-linear-gradient(top, #219B24, #26B729);
	background-image:    -moz-linear-gradient(top, #219B24, #26B729);
	background-image:     -ms-linear-gradient(top, #219B24, #26B729);
	background-image:      -o-linear-gradient(top, #219B24, #26B729);
	background-image:   linear-gradient(to bottom, #219B24, #26B729);
	border-color: #136012 #24AE26 #24AE26 #24AE26;
	color: rgba(255,255,255,0.95);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-green[disabled],
.wp-core-ui .button-green:disabled,
.wp-core-ui .button-green-disabled {
	color: #E79496 !important;
	background: #BA292B !important;
	border-color: #7F1C1F !important;
	-webkit-box-shadow: none !important;
	box-shadow:         none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
	cursor: default;
}

.wp-core-ui .button-red {
	background-color: #9B2124;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C5292E), to(#9B2124));
	background-image: -webkit-linear-gradient(top, #C5292E, #9B2124);
	background-image:    -moz-linear-gradient(top, #C5292E, #9B2124);
	background-image:     -ms-linear-gradient(top, #C5292E, #9B2124);
	background-image:      -o-linear-gradient(top, #C5292E, #9B2124);
	background-image:   linear-gradient(to bottom, #C5292E, #9B2124);
	border-color: #9B2124;
	border-bottom-color: #8D1F21;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-red.hover,
.wp-core-ui .button-red:hover,
.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
	background-color: #B72629;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D22E30), to(#9B2124));
	background-image: -webkit-linear-gradient(top, #D22E30, #9B2124);
	background-image:    -moz-linear-gradient(top, #D22E30, #9B2124);
	background-image:     -ms-linear-gradient(top, #D22E30, #9B2124);
	background-image:      -o-linear-gradient(top, #D22E30, #9B2124);
	background-image:   linear-gradient(to bottom, #D22E30, #9B2124);
	border-color: #7F1C1F;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
	border-color: #500F0E;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .button-red.active,
.wp-core-ui .button-red.active:hover,
.wp-core-ui .button-red.active:focus,
.wp-core-ui .button-red:active {
	background: #7F1C1F;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9B2124), to(#B72629));
	background-image: -webkit-linear-gradient(top, #9B2124, #B72629);
	background-image:    -moz-linear-gradient(top, #9B2124, #B72629);
	background-image:     -ms-linear-gradient(top, #9B2124, #B72629);
	background-image:      -o-linear-gradient(top, #9B2124, #B72629);
	background-image:   linear-gradient(to bottom, #9B2124, #B72629);
	border-color: #601312 #AE2426 #AE2426 #AE2426;
	color: rgba(255,255,255,0.95);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-red[disabled],
.wp-core-ui .button-red:disabled,
.wp-core-ui .button-red-disabled {
	color: #E79496 !important;
	background: #BA292B !important;
	border-color: #7F1C1F !important;
	-webkit-box-shadow: none !important;
	box-shadow:         none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
	cursor: default;
}

div#gmedia-container {
	margin: 10px 5px 10px 0;
	position: relative;
	z-index: 1;
}

div#gmedia-header {
	position: relative;
	height: 80px;
	padding: 1px;
}

div#gmedia-header div#gmedia-logo {
	position: absolute;
	left: 15px;
	top: 10px;
	width: 150px;
	height: 55px;
	font-size: 40px;
	font-family: Verdana, serif;
	color: #ffffff;
	background: url(../images/logo.png) 0 0 no-repeat;
	overflow: hidden;
	text-indent: -100em;
}

div#gmedia-header h2 {
	margin: 16px 0 0 180px;
	font: italic 24px/35px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	color: #ffffff;
}

.container { width: 100%; }

form#gmedia-search-form {
	float: right;
	margin-left: 10px;
	margin-bottom: 4px;
	white-space: nowrap;
}

form#gmedia-search-form .form-group { margin: 0; display: inline-block; }

.gmedia-pager { margin-bottom: 4px; }
form#gmedia-pager { float: left; width: 150px; }
input.pager_current_page {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.txt-lg { font-size: 120%; line-height: 50%; }

input[type="checkbox"] { margin-top: 2px; margin-right: 2px }
.btn > input[type="checkbox"] { margin-top: 0; width: 16px; height: 16px; }

.gm-checkgroup { margin-right: 20px; }

.gm-backfade { background-color: rgba(0,0,0,0.2); }

.list-group-item.row { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
