@charset "utf-8";
div#gMedia-MetaBox .inside {
	margin: 0;
	padding: 0;
}

div#gMedia-wraper {
	background: #f9f9f9;
	position: relative;
	border: 1px solid #ccc;
}

div#gMedia-wraper * {
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
}

div#gMedia-wraper .ext {
	background: transparent url(../images/metabox.png) no-repeat right -12px;
	padding-left: .3em;
}

div#gMedia-head {
	position: relative;
	padding: 0 6px;
	background: #a1a1a1 url(../images/metabox.png) repeat-x 0 -25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	height: 30px;
	line-height: 30px;
	z-index: 6;
	background-position: 0 0;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #b8b9ba;
}

div#gMedia-head .gMedia-source {
	float: left;
	position: relative;
	top: 3px;
	line-height: 30px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border: 1px solid #AAA;
	border-bottom: 0;
	height: 27px;
	color: #666;
}

div#gMedia-head .current {
	font-weight: bold;
	text-transform: capitalize;
	z-index: 5;
	overflow: hidden;
}

div#gMedia-head .gMedia-source a {
	display: block;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 9px 6px 0;
	height: 16px;
	line-height: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	color: #666;
	border: 1px solid transparent;
	border-bottom: 0;
	background-color: #e1e1e1;
}

div#gMedia-head .current a,
div#gMedia-head .current:hover a {
	background-color: #EBEBEB;
	border-color: #FFFFFF;
	color: #333333;
	text-align: center;
	height: 17px;
}

div#gMedia-control {
	position: relative;
	padding: 0 6px;
	background: #a1a1a1 url(../images/metabox.png) repeat-x 0 -145px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	height: 28px;
	border-top: 1px solid rgba(250, 250, 250, 0.8);
	border-bottom: 1px solid rgba(24, 24, 24, 0.2);
	z-index: 5;
	overflow: hidden;
}

div#gMedia-control div#gMedia-control-update {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 4px;
	padding: 0 2px 0 3px;
	height: 17px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 3px;
}

div#gMedia-control div#gMedia-control-update:hover {
	border-color: #c2c2c2;
	background-color: #eee;
}

div#gMedia-control-update span.gMedia-update-text {
	background: url(../images/metabox.png) no-repeat right -206px;
	line-height: 9px;
	padding: 4px 17px 6px 0;
	display: block;
	color: #7fb900;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	text-transform: capitalize;
	font-size: 11px;
	font-weight: bold;
}

div#gMedia-control div#gMedia-refine div#gMedia-refine-box {
	display: block;
	background: 0;
	padding: 2px;
	width: auto;
}

div#gMedia-control div#gMedia-refine div#gMedia-refine-box div#gMedia-refine-field {
	margin: 1px 0 0 0;
	float: left;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #eee;
}

div#gMedia-control div#gMedia-refine div#gMedia-refine-box div#gMedia-refine-field * {
	display: block;
	float: left;
	line-height: 15px;
	box-sizing: content-box;
}

div#gMedia-control div#gMedia-refine div#gMedia-refine-box div#gMedia-refine-field input#gMedia-refine-input {
	border: 0;
	width: 134px;
	font-size: 12px;
	padding: 3px 0 2px 21px;
	background: #fff url(../images/metabox.png) no-repeat 0px -222px;
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px 0 #ddd;
}

div#gMedia-message {
	background: #a1a1a1 url(../images/metabox.png) 0 -25px;
	position: relative;
	z-index: 20;
	border-bottom: 1px solid #ccc;
}

div#gMedia-images {
	height: 155px;
	position: relative;
	z-index: 2;
	background: #f9f9f9;
}

div#gMedia-images h2 {
	position: relative;
	padding: 0 6px;
	background: #a1a1a1 url(../images/metabox.png) repeat-x 0 -25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	height: 25px;
	line-height: 27px;
	border-top: 1px solid rgba(250, 250, 250, 0.8);
	border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}

div#gMedia-images h2 span.gMedia-images-title {
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -.5454em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

div#gMedia-images div#gMedia-images-wrap {
	box-shadow: 0 0 6px #999 inset;
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	left: 0;
	top: 25px;
	bottom: 0;
	right: 0;
	z-index: 1;
}

div#gMedia-images ul#gMedia-images-thumbnails {
	padding: 6px 0 0 6px;
}

div#gMedia-images ul#gMedia-images-thumbnails .gMedia-image-li {
	padding: 2px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 6px 6px 0;
	border: 1px solid #bbb;
	position: relative;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 4px #CCC;
	transition-property: border-color;
	transition-duration: .33s;
}

div#gMedia-images ul#gMedia-images-thumbnails .gMedia-image-li:hover {
	border-color: #777;
}

div#gMedia-images ul#gMedia-images-thumbnails .gMedia-image-li .gMedia-selector {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

div#gMedia-images .ui-resizable-s {
	left: 50%;
	bottom: -10px;
	margin: 0 0 0 -30px;
	height: 10px;
	width: 60px;
	background: url(../images/metabox.png) no-repeat 0px -244px;
}

div#gMedia-galleries {
	height: 227px;
	position: relative;
	z-index: 1;
	background: #f9f9f9;
}

div#gMedia-galleries h2 {
	position: relative;
	padding: 0 7px;
	background: #a1a1a1 url(../images/metabox.png) repeat-x 0 -25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	height: 25px;
	line-height: 27px;
	border-top: 1px solid rgba(250, 250, 250, 0.8);
	border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}

div#gMedia-galleries h2 span.gMedia-galleries-title {
	position: relative;
	display: block;
	margin-top: 7px;
}

div#gMedia-galleries div#gMedia-galleries-wrap {
	box-shadow: 0 0 6px #999 inset;
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	left: 0;
	top: 25px;
	bottom: 35px;
	right: 0;
	z-index: 1;
}

div#gMedia-galleries ul#gMedia-galleries-list {
	padding: 5px 0 0;
}

div#gMedia-galleries ul#gMedia-galleries-list .emptybd {
	font-size: 120%;
	line-height: 40px;
	text-align: center;
}

div#gMedia-galleries ul#gMedia-galleries-list .emptybd a {
	font-size: 100%;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li {
	margin: 0 6px 5px;
	padding: 2px;
	border: 1px solid #bbb;
	position: relative;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 4px #CCC;
	transition-property: border-color;
	transition-duration: .33s;
	height: 38px;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li.gMedia-selected {
	border: 1px solid #F18F00;
	transition-property: border-color;
	transition-duration: .33s;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-title {
	padding-right: 6px;
	display: block;
	overflow: hidden;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-title span {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	white-space: nowrap;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-title span.gMedia-gallery-preview {
	line-height: 0;
	height: 43px;
	overflow: hidden;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-title span.gMedia-gallery-preview img {
	width: 50px;
	height: auto;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-source {
	position: absolute;
	left: 59px;
	bottom: 5px;
	right: 1px;
	z-index: 3;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-source span.gMedia-gallery-module {
	color: #999;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 9px;
	height: 12px;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li p.gMedia-gallery-source .gMedia-gallery-gear {
	color: #666;
	display: block;
	overflow: hidden;
	font-size: 9px;
	z-index: 3;
	text-indent: -100em;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -36px;
	width: 16px;
	height: 16px;
	background: url(../images/metabox.png) 0 -258px no-repeat;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li .gMedia-selector {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: url(../images/clicked.png) 100% 0 no-repeat;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li.gMedia-selected .gMedia-selector {
	display: block;
}

div#gMedia-galleries ul#gMedia-galleries-list li.gMedia-gallery-li:hover {
	border-color: #777;
}

div#gMedia-galleries ul#gMedia-galleries-list li.gMedia-gallery-li.gMedia-selected:hover {
	border-color: #F18F00;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li .gMedia-insert {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li:hover .gMedia-insert {
	visibility: visible;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li .gMedia-insert div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font: bold 15px Arial;
	color: #fff;
	text-shadow: 0 0 8px #000;
	line-height: 100%;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#4c000000', endColorstr = '#4c000000');
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li .gMedia-insert div img {
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li .gMedia-insert div.gMedia-insert-button {
	display: block;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li .gMedia-insert div.gMedia-remove-button {
	display: none;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li.gMedia-selected .gMedia-insert div.gMedia-insert-button {
	display: none;
}

div#gMedia-galleries ul#gMedia-galleries-list .gMedia-gallery-li.gMedia-selected .gMedia-insert div.gMedia-remove-button {
	display: block;
}

div#gMedia-galleries .ui-resizable-s {
	left: 0;
	bottom: 0;
	height: 10px;
	width: 100%;
	background: #2e6286 url(../images/social-footer.png) -108px -243px no-repeat;
	border-radius: 0 0 2px 2px;
}

#gMedia-wraper #gMedia-social {
	z-index: 3;
	background: #2e6286;
	padding: 5px 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#gMedia-wraper #gMedia-social p {
	padding: 0 0 0 19px;
	margin: 0 auto;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	width: 176px;
	background: transparent url(../images/social-footer.png) -186px -196px no-repeat;
}

#gMedia-wraper #gMedia-social p a {
	color: #fff;
	text-decoration: none;
}
